header {
    background-color: #0B1C51;
    margin-bottom: 40px;
}

header h1 {
    font-size: 48px;
    color: #fff;
    text-align: center;
    margin: 0;
    padding-top: 20px;
}
  
header nav {
    display: flex;
    justify-content: center;
}
  
header nav ul {
    display: flex;
    padding-left: 0;
    list-style: none;
}

header nav ul li a {
    font-family: "Montserrat";
    color: #fff;
    text-decoration: none;
    margin: 0 20px 0 0;
}

input[type=submit] {
    background-color: blue;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: fantasy;
    font-size: 24px;
    width: 200px;
  }

h3 {
    text-align: center;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 100%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.energy {
    text-align:center left;
    padding-top: 10px;
    padding-bottom: 5px;
}
  
header nav ul li:last-child a {
    margin-right: 0; 
}
  
main { /*main background*/
    background-color: #848fa5;
    
}
  
body { /* more background*/
    background-color: #848fa5;
}
    
p, ul, ol { /*text of body*/
    font-family: sans-serif;
    color:#e5dcc5;
}
  
h2 { /*text of headers*/
    font-family: fantasy;
    font-weight: 100;
    color:#e5dcc5;
    font-size: 32px;
}
  
  /*pseudo link colors*/
  

  
a:visited { color: yellow;   }
a:hover   { color: purple; }
a:active  { color: red;  }

.footertext { /*making footer of page*/
    text-align: center;
    background-color: #242424;
    color: #E5DCC5;
    margin-bottom: 50;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top:3px;
    bottom: 0;
}

label {
    font-size: 24px;
    font-family: fantasy;
}

.group {
    display: flex;
    flex-direction: column;
    margin-bottom:10px;
}
  
ul {
    list-style: none;
    padding-left: 0;
}

li {
    background-color:#203435;
    
}

.hide-border {
    padding-top:30px;
    padding-bottom:30px;
    background-color: #848fa5;
}


  
.item {
    flex: 1;
    margin: 0; 
}
  
.item-double {
    flex: 2;
}
  
img {
    width: 100%;
}
  
.bg-callout {
    background-color: #212121;
}
  
body > main > section > div > h3 {
    font-family: fantasy;
    font-weight: 100;
    color:#e5dcc5;
    font-size: 25px;
    height: 30px;
}
  
.centered {
    text-align: center;
}

input[type=text] {
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 50px;
    height: 50px;
    width: 250px;
    font-size: 30px;
}

input[type=number] {
    height: 25px;
    width: 40px;
    background-color: blue;
    font-weight: bold;
    font-size: 24px;
    color: white;
}

  
@media all and (min-width: 800px) {
    header {
      display: flex;
      justify-content: space-between;
      padding: 0px 30px;
    }
  
    header h1 {
      font-size: 52px;
      margin: 0 0;
      padding-botttom: 8px;
      padding-top: 8px;
    }
  
    header nav {
      margin-top: 8px;
    }
    
    header nav ul li a:hover {
      color: #bdbdbd;
    }

    .resp-container {
        padding-top: 30%;
        padding-bottom: 10%;
    }

    .group {
      flex-direction: row;
      justify-content: space-between;
    }
    
    .energy {
        padding-top: 30px;
    }
}   
  
form input, form textarea {
    width: 10%;
    margin-bottom: 20px;
}
  
form textarea {
    height: 160px;
}
  
body main section div address {
    font-style: normal;
}
  
body main section div address a {
    color: #fff;
    text-decoration: none;
}